spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}

server:
  port: 8888

logging:
  level:
    org.springframework.cloud.config: DEBUG