spring:
  application:
    name: shopping-store
  config:
    import: "configserver:"
  cloud:
    config:
      fail-fast: true
      retry:
        userRandomPolicy: true
        max-interval: 6000
      discovery:
        enabled: true
        serviceId: config-server

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

server:
  port: 36135
